<div class="container">
  <footer class="container text-bg-warning p-5 text center">
    <div class="row">
      <div class="col d-flex flex-column">
        <div>
          <%= link_to root_path, data: { turbo: false } do %>
            <%= image_tag "logo.png",  alt: "おでかけ", width: "320px" %>
          <% end %>
        </div>
        <p class="text-light">
          Copyright©️ ODEKAKE 2023 All rights reserved
        </p>
      </div>
      <div class="col d-flex flex-column text-color1 mt-4 ms-5">
        <div class="mb-2">
          <h5 class="FooterExplanationTitle">おでかけについて</h5>
        </div>
        <ul>
          <li>
            <%= link_to page_path('about') do %><h6 class="text-color1">おでかけとは？</h6><% end %>
          </li>
          <li>
            <%= link_to page_path('term') do %><h6 class="text-color1">利用規約</h6><% end %>
          </li>
          <li>
            <%= link_to page_path('policy') do %><h6 class="text-color1">プライバシーポリシー</h6><% end %>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
