<div class="p-4 my-5">
  <h2 class="text-center fw-bold">おでかけとは？</h2>
  <br>
  <p class="fs-6 text-center">おでかけは，子どもの遊び場を共有するサービスです。</p>
  <div class="row">
    <%= image_tag "about1.jpeg",  alt: "遊具", width: "320px", class: "col col-md-4" %>
    <%= image_tag "about3.jpeg",  alt: "子ども", width: "320px", class: "col col-md-4" %>
    <%= image_tag "about2.jpeg",  alt: "自然", width: "320px", class: "col col-md-4" %>
  </div>
</div>
<div class="p-4 mt-5">
  <h2 class="text-center fw-bold">おでかけで何ができる？</h2>
  <br>
  <p class="fs-6 text-center"></p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <%= image_tag "about1.jpeg",  alt: "遊具" %>
        <div class="card-body">
          <p class="card-text">住所やフリーワードでおでかけ場所を検索できます。また、対象年齢をもとに、遊び場を検索することができます。</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <%= image_tag "about1.jpeg",  alt: "遊具"%>
        <div class="card-body">
          <p class="card-text">新たなおでかけ場所を登録して、ユーザのみなさんとおでかけ場所をシェアしましょう。</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <%= image_tag "about1.jpeg",  alt: "遊具"%>
        <div class="card-body">
          <p class="card-text">気に入ったおでかけ場所は、いいねをしてお気に入り登録してみましょう。</p>
        </div>
      </div>
    </div>
  </div>
</div>
