<% content_for :js do %>
  <%= javascript_import_module_tag "map" %>
<% end %>

<div class="my-3 d-flex">
  <div class="searchFormArea">
    <h4 class="">おでかけ場所を探そう</h4>
    <div class="searchBox bg-warning-subtle rounded p-4">
      <div class="SearchContainer d-flex justify-content-center">
        <%= form_with(url: places_path, method: :get) do |f| %>
          <div class="mb-3">
            <span class="fw-bold">対象年齢を選んでください</span>
            <%= f.collection_select :schoolgrade_id, Schoolgrade.all, :id, :grade, { include_blank: "選択してください" }, class: "form-select" %>
          </div>
          <div class="mb-3">
            <span class="fw-bold">トイレは？</span>
            <%= f.select :toilet, ["優先トイレあり", "あり", "なし"], { include_blank: "選択してください" }, class: "form-select" %>
          </div>
          <div class="mb-3">
            <span class="fw-bold">自動販売機は？</span>
            <%= f.select :vendingmachine, ["あり", "なし"], { include_blank: "選択してください" }, class: "form-select" %>
          </div>
          <div class="d-flex">
            <%= f.text_field :keyword, class:"form-control", placeholder: 'キーワードを入力'%>
            <%= f.submit "検索", class:"btn btn-secondary ms-1" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/map' %>
</div>
<div id="places">
  <div class="container">
    <%= turbo_frame_tag "place-list" do %>
    <h2>おでかけ場所　<%= @places.total_count%>件</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 p-4">
        <% @places.each do |place| %>
          <%= render place %>
        <% end %>
      </div>
      <%= paginate @places, theme: 'bootstrap-5' %>
    <% end %>
  </div>
</div>
